.container{ 
    display: flex; 
    justify-content: center; 
    margin:  100px 0px; 
} 
 
.credit-form{ 
    display: flex; 
} 
.cCard{ 
    width: 80%; 
    margin: 5px auto; 
 
   
} 
.cardBtn{ 
  display: flex; 
  justify-content: center; 
  margin: 30px 0px; 
} 
.rccs__card--front{ 
    background-image: url("https://avatars.mds.yandex.net/i?id=25b31396a7ce20871ed7833de84ecb39de7e5355-7083166-images-thumbs&ref=rim&n=33&w=188&h=188"); 
}